/* --- Light mode theme --- */
:root {
  --bg-color: #9d9525;
  --calc-bg: #f2e335;
  --btn-num-bg: #333333;
  --btn-num-text: #ffffff;
  --btn-op-bg: #f2e335;
  --btn-op-text: #333333;
  --display-bg: #fcfcfc;
}

/* --- Dark mode theme --- */

body.strong-theme {
  --bg-color: #2b2b2b;
  --calc-bg: #444141;
  --btn-num-bg: #ecd355;
  --btn-num-text: #232321;
  --btn-op-bg: #555555;
  --btn-op-text: #ffffff;
}

.casio-logo {
  max-width: 100px;
  height: auto;
  filter: brightness(0.8);
  transition: filter 0.4s ease;
}

body.strong-theme .casio-logo {
  filter: brightness(1.2) invert(0);
}

/* --- Transições --- */
body,
#calculator,
button,
#display,
i {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease, box-shadow 0.4s ease, transform 0.2s ease;
}

body {
  display: flex;
  flex-direction: column; /* Organiza calculadora e footer em coluna */
  min-height: 100vh; /* Garante que o body tenha a altura da tela */
  background-color: var(--bg-color);
  margin: 0;
  transition: background-color 0.4s ease;
}

#calculator {
  background-color: var(--calc-bg);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-top: auto; /* Centraliza verticalmente junto com o footer */
  margin-bottom: auto;
}

/* Estilização do Footer */
footer {
  font-size: 0.85rem;
  color: var(--btn-op-text) !important;
  opacity: 0.7;
  transition: color 0.4s ease;
}

footer p {
  margin: 0;
}
#display {
  height: 70px;
  font-size: 2.2rem;
  text-align: right;
  background-color: var(--display-bg);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
  border-color: var(--btn-op-text);
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

button {
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 12px !important;
  font-weight: bold;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

button i {
  font-size: 1.4rem;
  pointer-events: none;
}

/* Animação do Ícone de Tema */
#theme-icon {
  display: inline-block;
}

.rotate-icon {
  transform: rotate(360deg);
}

.num {
  background-color: var(--btn-num-bg) !important;
  color: var(--btn-num-text) !important;
}

.operator,
.equal,
.btn-toggle,
.btn-sci {
  background-color: var(--btn-op-bg) !important;
  color: var(--btn-op-text) !important;
}

.btn-sci {
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.08) !important;
}

#theme-toggle {
  background: none;
  border: none !important;
  box-shadow: none;
  font-size: 1.5rem;
  color: var(--btn-op-text);
  cursor: pointer;
}
